@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.recipes{
    width: 90vw;
    display: grid;
    gap: 2rem;
    margin: 2rem 0 4rem 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    .recipe{
        margin: 0 auto;

        article{
            img{
                @include box(auto, 400px);
                max-width: 315px;
                display: block;
                object-fit: cover;
                transition: $transition;
            }

            h4, h5{
                text-align: center;
                color: $primary-6;
                transition: $transition;
            }
            h4{
                margin: .5rem 0;
            }
            h5{
                margin: .3rem 0;
            }


            &:hover{
                h4, h5{
                    // margin: .5rem 0;
                    color: $primary-4;
                }
                img{
                    transform: scale(1.02);
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .recipes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 730px){
    .recipes{
        display: grid;
        grid-template-columns: 1fr;
    }
}