@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.search-form{
    width: 90vw;
    max-width: $max-width;
    margin: 5rem auto 3rem;
    .form-input{
        width: 100%;
        max-width: 600px;
        border: none;
        border-bottom: 3px solid $primary-6;
        background: transparent;
        padding: 1rem;
        color: $primary-2;
        text-transform: uppercase;
        font-size: 1rem;
        // font-weight: 600;
        letter-spacing: $spacing;
        margin-top: 1rem;
        transition: $transition;
        &:focus, &:hover{
            outline: none;
            border-bottom: 3px solid $primary-4;
        }
        &::placeholder{
            color: $primary-2;
        }
    }
    h2{
        color: $primary-0;
    }
}

@include tablet {
    .search-form{
        h2{
            font-size: 2.5rem;
        }
    }
}