//dark sahdes of primary color
$primary-0: hsl(260, 55%, 21%);
$primary-1: hsl(260, 55%, 29%);
$primary-2: hsl(260, 55%, 37%);
$primary-3: hsl(260, 55%, 45%);
$primary-4: hsl(260, 55%, 52%); // The primary color
$primary-5: hsl(260, 55%, 50%);
$primary-6: hsl(260, 55%, 67%);
$primary-7: hsl(260, 55%, 74%);
$primary-8: hsl(260, 55%, 81%);
$primary-9: hsl(260, 55%, 88%);
//lighter shades of primary color

// 225

//dark sahdes of secondary color
$secondary-0: hsl(120, 60%, 21%);
$secondary-1: hsl(120, 60%, 29%);
$secondary-2: hsl(120, 60%, 37%);
$secondary-3: hsl(120, 60%, 45%);
$secondary-4: hsl(120, 60%, 52%); // The secondary color
$secondary-5: hsl(120, 60%, 60%);
$secondary-6: hsl(120, 60%, 67%);
$secondary-7: hsl(120, 60%, 74%);
$secondary-8: hsl(120, 60%, 81%);
$secondary-9: hsl(120, 60%, 88%);
//lighter shades of primary color

//dark sahdes of grey color
$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%); // The grey color
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);
//lighter shades of grey color

//misc colors
$white: #fff;
$black: #222;
$red-dark: hsl(0, 70%, 45%);
$red-light: hsl(0, 70%, 67%);
$green-dark: hsl(125, 67%, 40%);
$green-light: hsl(125, 67%, 75%);
