*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #dbd0f1;
  color: #253646;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #507395;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 800px) {
  body, h4 {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h3,
h4 {
    line-height: 1;
  }

  h3 {
    font-size: 1.75rem;
  }
}
.container {
  width: 90vw;
  margin: 5rem auto;
  background: #fff;
  border-radius: 0.25rem;
  padding: 2.5rem 2rem;
  max-width: 920px;
  display: grid;
  grid-gap: 1rem 2rem;
  gap: 1rem 2rem;
}
.container h3 {
  font-weight: 500;
  line-height: 1.2;
}

input {
  background: transparent;
  border: none;
}

@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
.single-recipe {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.single-recipe .recipe-header {
  margin: 2rem 0;
}
.single-recipe .recipe-header h2, .single-recipe .recipe-header h3 {
  text-align: center;
}
.single-recipe .recipe-header a {
  color: #4d2a92;
}
.single-recipe .recipe-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.single-recipe .recipe-top .recipe-image img {
  width: 28rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s linear;
}
.single-recipe .recipe-top .recipe-image:hover img {
  transform: scale(1.02);
}
.single-recipe .recipe-top .recipe-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  height: 100%;
  padding: 5px 20px;
  color: #4d2a92;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}
.single-recipe .recipe-top .recipe-info h4 {
  margin-top: 0.6rem;
  font-size: 1.5rem;
}
.single-recipe .recipe-top .recipe-info h5 {
  margin-top: 0.2rem;
}
.single-recipe .recipe-top .recipe-info p {
  color: #344a60;
  margin-bottom: 0.2rem;
}
.single-recipe .recipe-top .recipe-info p:last-child {
  margin-bottom: 0.6rem;
}
.single-recipe .ingredients {
  margin: 0 2rem 2rem 2rem;
}
.single-recipe .ingredients h4 {
  font-size: 1.7rem;
  color: #4d2a92;
}
.single-recipe .ingredients u {
  text-decoration: none;
}
.single-recipe .ingredients u li {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}
.single-recipe .ingredients u li:last-child {
  padding-bottom: 0;
}
.single-recipe .ingredients u li::marker {
  color: #9b7dd9;
}
.single-recipe .btn {
  margin: 0 2rem 2rem 2rem;
  color: #4d2a92;
  font-weight: 500;
  font-size: 1.1rem;
}

@media only screen and (max-width: 840px) {
  .single-recipe .recipe-top {
    flex-direction: column;
  }
  .single-recipe .recipe-top .recipe-info {
    flex-direction: column;
    width: 90%;
    margin-top: 1rem;
  }
  .single-recipe .recipe-top .recipe-info h4 {
    margin-bottom: 0.9rem;
  }
}
.recipes {
  width: 90vw;
  display: grid;
  gap: 2rem;
  margin: 2rem 0 4rem 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.recipes .recipe {
  margin: 0 auto;
}
.recipes .recipe article img {
  width: auto;
  height: 400px;
  max-width: 315px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s linear;
}
.recipes .recipe article h4, .recipes .recipe article h5 {
  text-align: center;
  color: #9b7dd9;
  transition: all 0.5s linear;
}
.recipes .recipe article h4 {
  margin: 0.5rem 0;
}
.recipes .recipe article h5 {
  margin: 0.3rem 0;
}
.recipes .recipe article:hover h4, .recipes .recipe article:hover h5 {
  color: #6e41c8;
}
.recipes .recipe article:hover img {
  transform: scale(1.02);
}

@media screen and (max-width: 1000px) {
  .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 730px) {
  .recipes {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.btn-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container button {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  font-weight: 700;
  border-color: transparent;
  background: #9b7dd9;
  border-radius: 0.25rem;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.5s linear;
}
.btn-container button:hover, .btn-container button:active {
  background: #6e41c8;
}
.btn-container button:disabled {
  cursor: not-allowed;
}
.btn-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #4d2a92;
}

.loading {
  text-align: center;
  margin-top: 50vh;
}
.loading .spinner {
  width: 5.5rem;
  height: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #6e41c8;
  -webkit-animation: spinner 0.5s linear infinite;
          animation: spinner 0.5s linear infinite;
  margin-bottom: 0.3rem;
}
@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto 3rem;
}
.search-form .form-input {
  width: 100%;
  max-width: 600px;
  border: none;
  border-bottom: 3px solid #9b7dd9;
  background: transparent;
  padding: 1rem;
  color: #4d2a92;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  transition: all 0.5s linear;
}
.search-form .form-input:focus, .search-form .form-input:hover {
  outline: none;
  border-bottom: 3px solid #6e41c8;
}
.search-form .form-input::-moz-placeholder {
  color: #4d2a92;
}
.search-form .form-input:-ms-input-placeholder {
  color: #4d2a92;
}
.search-form .form-input::placeholder {
  color: #4d2a92;
}
.search-form h2 {
  color: #2c1853;
}

@media only screen and (min-width: 768px) {
  .search-form h2 {
    font-size: 2.5rem;
  }
}